*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("doctor.png");
    background-size: 1500px;
    background-position:0px 0px;

    background-color: black;
}
div.main{
    width: 400px;
    margin: 70px 570px 30px 530px;
}
h2{
    text-align: center;
    padding: 10px; 
    color: crimson; 
}
div.portal{
    background-color: rgba(255, 255, 255, 0.9);
    color: black; 
}
form#portal{
    margin: 20px;
}
input#name{
    width: 210px;
    
}
input#payment{
    width: 100px;
    margin-bottom: 20px;
    margin-left: 200px;
    color: indigo;
}
h3{
    color: crimson;
    margin: 20px;
}
button{
    width: 100px;
    margin-bottom: 20px;
    margin-left: 30px;
    color: darkturquoise;
    background-color: black;
}
input{
    background-color: black;
    color: white;
}




